[submodule "tests/doctest"]
	path = tests/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "RedBlackTree"]
	path = team-algorithms-oop
	url = https://github.com/starquell/team-algorithms-oop.git
